.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0px; /* Establecemos la barra en la izquierda */
	top: 250px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.fab 
{
	font-size: 18.5px;
}
	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: rgb(0, 0, 0);
		padding: 110px 19px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	
	.social ul li .icon-whatsapp {background:rgb(10, 189, 19)}


	.social ul li a:hover {
		background: rgb(11, 230, 47); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 110px 40px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */

	}
