* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(img/bg-solucoes.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
.botones {
	display: none;
	color: #ffffff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nombreprod
{
	color: #ffffff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-radius: 5px;
	background-color: rgb(0, 38, 255);
	font-size: 20px;
	text-align: center;
	margin-top: 3px;
	max-width: 100%;
	
}

.precio
{
	color: #ffffff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 3px;
	background-color: rgb(0, 38, 255);
	font-size: 25px;
	text-align: center;
	border-radius: 5px;	
	background-size: 100%;
	
}
a {
	text-decoration: none;
}

.contenedor {

	width: 90%;
	margin: auto;
}


/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
	padding: 20px 0;

}
.logoimg{
width: 60px; height: 60px;

}
.logo
{
	color: #ffffff;
}
header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	color: #ffffff;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: -30px;
}

header .categorias a {
	color: #ffffff;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: rgb(0, 209, 224);
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 5px;
	width: calc(23% - -10px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(54, 54, 54, 0.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;

}

.overlay.activo  {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion{
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
	margin: 5px;
}

.buton
{
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}
.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}

footer .redes-sociales .youtube {background: #f80e0e;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .instagram {background: #c13584;}
footer .redes-sociales .tiktok {background: #000000;}
footer .redes-sociales .whatsapp {background: #07b63c;}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}


footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}



/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 1127px) {
	.grid .item {
		margin: 5px;
		width: calc(32.33333% - 20px);
		margin-left: 2%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 950px) {
	.grid .item {
		margin: 2px;
		width: calc(31% - 20px);
		margin-left: 3.5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}


@media screen and (max-width: 885px) {
	.grid .item {
		margin: 5px;
		width: calc(32.33333% - 20px);
		margin-left: 2.5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 853px) {
	.grid .item {
		margin: 5px;
		width: calc(30% - 20px);
		margin-left: 4%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 700px) {
	.grid .item {
		margin: 5px;
		width: calc(45% - 20px);
		margin-left: 5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 685px) {
	.grid .item {
		margin: 5px;
		width: calc(43% - 20px);
		margin-left: 5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 655px) {
	.grid .item {
		margin: 5px;
		width: calc(42% - 20px);
		margin-left: 7.6%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}

@media screen and (max-width: 574px) {
	.grid .item {
		margin: 5px;
		width: calc(46% - 20px);
		margin-left: 5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
