* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fondo-prod
{
	background-color:#000000;
	
	border: 10px;
	border-radius: 10px;
}
body {
	background-color:#000000;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
.botones {
	display: none;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}
.nombreprod
{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	border-radius: 8px;
	background-color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
	margin-top: 3px;
	max-width: 100%;
	
}

.precio
{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top: 3px;
	background-color: rgb(0, 0, 0);
	font-size: 25px;
	text-align: center;
	border-radius: 8px;	
	background-size: 100%;
	
}
a {
	text-decoration: none;
}

.contenedor {

	width: 90%;
	margin: auto;
}




/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
	padding: 20px 0;

}
.logoimg{
width: 60px; height: 60px;
float: left;
margin-right: 5px;

}
.titulo
{	
    font-size: 26px;
	color: rgb(255, 255, 255);
	margin-top: 11px;
	margin-left: 0px;
	float: left;
    font-family: 'Open Sans', sans-serif;
}



header .logo p {
	color: #ffffff;
}

 .barra-busqueda {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 28px;
	
}
.categorias a.activo {
	color: rgb(0, 209, 224);
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
	
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 5px;
	width: calc(23% - -10px);
}

.grid .item-contenido {
	position: relative;

}
.imggg
{
	border-radius: 20px;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(54, 54, 54, 0.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10000000;
}

.overlay.activo  {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion{
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
	margin: 5px;
}

.buton
{
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}
.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}


footer .redes-sociales .whatsapp {background: #07b63c;}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;

}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}


footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}
/* ------------------------- */
/* final */
/* ------------------------- */

.icon-menu
{	margin: 5px;
	color: #fff;
	display:block;
	width: 40px;
	height: 40px;
	font-size:30px;
	background: #40E0D0;
	text-align: center;
	line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
	z-index: 100000;
}
/*----------------------estilos del menu--------------------------*/
.nav
{
	position: absolute;
	top:60px;
	left: -100%;
	width: 100%;
	transition: all 0.3s;
	z-index: 10000;
}
.menu
{
	list-style: none;
	padding: 0;
	margin: 0;
	
}
.menu__link 
{
	display: block;
	padding: 20px;
		/*color del fondo de las opciones sin cursor encima
	background:#F8F8FF;*/
	background: rgba(0, 0, 0, .8);
	text-decoration: none;
	/*color de la letra sin cursor encima
	color:#40E0D0;*/
	color: #fff;
}

.menu__link:hover,.select
{
/*	color del contenedor con el cursor encima */
	background: rgba(0,225, 225, .8);
	/*color de la letra con el cursor encima*/
	color:  rgba(0, 0, 0, .9);
}

.mostrar 
{
	left: 0;
}

/* ------------btn luminos------------- */

.btn-neon{
	justify-content: center;
		display:flex;
		color: #fff;
		letter-spacing: 4px;
		text-decoration: none;
		font-size: 24px;
		transition: 0.2s;
		margin: 15px;
		background-size: 100%;
		background-color: rgb(66, 172, 172);
	}
	.btn-neon:hover{
		background: #2af1ff;
		box-shadow: 0 0 10px #2af1ff, 0 0 40px #2af1ff, 0 0 80px #2af1ff;
		transition-delay: .1s;
	 }


/* Mediaqueries */
/* ------------------------- */
@media screen and (min-width: 1127px) {
	.grid .item {
		margin: 5px;
		width: calc(32.33333% - 20px);
		margin-left: 2%;
	}

	header .barra-busqueda {
		width: 100%;
	}
	.nav{
		position: static;
		width: auto;

	}
	.menu
	{
		display: flex;
	}
	.icon-menu
	{display: none;}
	.categorias {
		display: flex;
		flex-wrap: wrap;
		float: right;
	
		margin-right: -10%;
		
	}
	
	 .categorias a {
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
	
	}
	
	.categorias a.activo {
		color: rgb(0, 209, 224);
	}
	.logoimg{
		margin-left: -45px;
	}

}
@media screen and (max-width: 1110px) {
	.grid .item {
		margin: 2px;
		width: calc(31% - 20px);
		margin-left: 3.5%;
	}

	header .barra-busqueda {
		width: 100%;
	}

}


@media screen and (min-width: 1000px) {
	.grid .item {
		margin: 2px;
		width: calc(31% - 20px);
		margin-left: 3.5%;
	}

	header .barra-busqueda {
		width: 100%;
	}

}

@media screen and (max-width: 950px) {
	.grid .item {
		margin: 2px;
		width: calc(31% - 20px);
		margin-left: 3.5%;
	}

	header .barra-busqueda {
		width: 100%;
	}

}


@media screen and (max-width: 885px) {
	.grid .item {
		margin: 5px;
		width: calc(32.33333% - 20px);
		margin-left: 2.5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 853px) {
	.grid .item {
		margin: 5px;
		width: calc(30% - 20px);
		margin-left: 4%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 700px) {
	.grid .item {
		margin: 5px;
		width: calc(45% - 20px);
		margin-left: 5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 685px) {
	.grid .item {
		margin: 5px;
		width: calc(43% - 20px);
		margin-left: 5%;
	}

	header .barra-busqueda {
		width: 100%;
	}
}
@media screen and (max-width: 655px) {
	.grid .item {
		margin: 5px;
		width: calc(42% - 20px);
		margin-left: 7.6%;
	}
	
	header .barra-busqueda {
		width: 100%;
	}
	.descripcion{
		font-size: 7px;
	}
}

@media screen and (max-width: 574px) {
	.grid .item {
		margin: 5px;
		width: calc(46% - 20px);
		margin-left: 5%;
	}
	
    .titulo{
		font-size: 25px;
		margin-top: 12px;
	}
	header .barra-busqueda {
		width: 100%;
	}
	.nombreprod
	{
	font-size: 14px;
	}
	.precio
	{
		font-size: 16px;
	}
	.descripcion{
		font-size: 7px;
	}
}


